<h1 class="page-header">Dashboard</h1>
<div class="chart">
  <sales-bubble></sales-bubble>
</div>
<h2 class="sub-header">Sales Table</h2>
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Conversion</th>
          <th>Converted</th>
          <th>Transactions</th>
          <th>Total Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='person in team | filter:searchText'>
          <td>{{person.salesperson}}</td>
          <td>{{person.conversion | number:2}}%</td>
          <td>{{person.emails}}</td>
          <td>{{person.transactions}}</td>
          <td>£{{person.total | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>